.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1 {
  font-size: 20px !important;
}
.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 20px !important;
  border-radius: 5px !important;
  padding: 20px !important;
}

.vb {
  padding-left: 14px;
}
