.home-rooms-container {
    .slick-slider {
        .slick-arrow {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            top: initial;
            bottom: 0;
            width: 130px;
            height: 50px;
            font-size: 16px;
            line-height: 50px;
            text-align: center;
            font-weight: 600;
            z-index: 2;
            transition: background 0.4s, color 0.4s;

            &::before {
                display: none;
            }

            &.slick-prev {
                left: 50%;
                transform: translate(-100%, 0);
                color: #212529;
                background-color: #fff;

                &:hover {
                    background-color: #1cc3b2;
                    color: #ffffff;
                }
            }

            &.slick-next {
                right: 50%;
                transform: translate(100%, 0);
                background-color: #1cc3b2;
                color: #ffffff;

                &:hover {
                    background-color: #2a303b;
                    color: #ffffff;
                }
            }
        }
        .slick-list {
            .slick-track {
                height: 700px;
                .slick-slide {
                    &.slick-active {
                        .single-room {
                            .content {
                                h2,
                                h3,
                                .features,
                                .view-btn {
                                    animation-name: fadeInUp;
                                    animation-duration: 1s;
                                    animation-fill-mode: both;
                                }
                            }
                        }
                    }
                    .single-room {
                        background-color: #0e2737;
                        display: flex;
                        height: 700px;

                        .thumbnail {
                            width: 50%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }

                        .content {
                            width: 50%;
                            height: 100%;
                            padding-left: 80px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            h2 {
                                color: #ffffff;
                                font-size: 48px;
                                display: block;
                                margin-bottom: 15px;
                                opacity: 0;
                                animation-delay: 200ms;
                            }

                            h3 {
                                color: #1cc3b2;
                                font-size: 36px;
                                display: block;
                                margin-bottom: 25px;
                                opacity: 0;
                                animation-delay: 500ms;

                                span {
                                    color: #ffffff;
                                    font-size: 16px;
                                }
                            }

                            .features {
                                list-style: none;
                                padding-left: 0;
                                opacity: 0;
                                animation-delay: 700ms;

                                li {
                                    color: #ffffff;
                                    display: block;
                                    margin-bottom: 15px;

                                    span {
                                        font-size: 16px;
                                        min-width: 110px;
                                        display: inline-block;

                                        svg {
                                            position: relative;
                                            top: -1px;
                                            font-size: 22px;
                                            margin-right: 2px;
                                        }
                                    }
                                }
                            }

                            .view-btn {
                                opacity: 0;
                                animation-delay: 900ms;
                            }
                        }
                    }
                }
            }
        }
    }
}
// Responsive
// Mobile + Tablet
@media (max-width: 1023px) {
}

// Tablet
@media (min-width: 740px) and (max-width: 1023px) {
    .home-rooms-container {
        .slick-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        .single-room {
                            .content {
                                padding-left: 30px;

                                h2 {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media (max-width: 739px) {
    .home-rooms-container {
        .slick-slider {
            .slick-list {
                .slick-track {
                    .slick-slide {
                        .single-room {
                            flex-direction: column;

                            .thumbnail {
                                width: 100%;
                                height: 290px;
                            }

                            .content {
                                width: 100%;
                                padding-left: 20px;

                                h2 {
                                    font-size: 24px;
                                }

                                h3 {
                                    font-size: 30px;
                                    margin-bottom: 20px;
                                }

                                .features {
                                    li {
                                        margin-bottom: 2px;

                                        span {
                                            font-size: 12px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
