.home-slider-container {
    .carousel {
        .carousel-indicators {
            display: none;
        }

        .carousel-inner {
            .carousel-item {
                background-color: #1cc3b2;

                img {
                    height: 770px;
                    filter: brightness(0.4);
                }

                &:nth-child(4n).active {
                    .welcome {
                        p,
                        h3,
                        .discover-btn {
                            animation-name: fadeInLeft;
                            animation-fill-mode: both;
                            animation-duration: 1s;
                        }
                    }
                }

                &:nth-child(4n + 1).active {
                    .welcome {
                        p,
                        h3,
                        .discover-btn {
                            animation-name: fadeInDown;
                            animation-fill-mode: both;
                            animation-duration: 1s;
                        }
                    }
                }

                &:nth-child(4n + 2).active {
                    .welcome {
                        p,
                        h3,
                        .discover-btn {
                            animation-name: fadeInUp;
                            animation-fill-mode: both;
                            animation-duration: 1s;
                        }
                    }
                }

                &:nth-child(4n + 3).active {
                    .welcome {
                        p,
                        h3,
                        .discover-btn {
                            animation-name: fadeInRight;
                            animation-fill-mode: both;
                            animation-duration: 1s;
                        }
                    }
                }

                .carousel-caption {
                    left: 50%;
                    right: 0;
                    bottom: 50%;
                    transform: translate(-50%, 50%);

                    .welcome {
                        p {
                            font-size: 18px;
                            font-weight: 500;
                            text-transform: uppercase;
                            letter-spacing: 2px;
                            color: #fff;
                            margin-bottom: 30px;
                            opacity: 0;
                            animation-delay: 200ms;
                        }

                        h3 {
                            font-size: 72px;
                            display: block;
                            margin-bottom: 30px;
                            color: #fff;
                            opacity: 0;
                            animation-delay: 500ms;
                        }

                        .discover-btn {
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            min-width: 180px;
                            height: 50px;
                            border: 2px solid #1cc3b2;
                            font-size: 18px;
                            color: #fff;
                            font-weight: 500;
                            background-color: transparent;
                            border-radius: 0;
                            opacity: 0;
                            animation-delay: 700ms;

                            &:hover {
                                background-color: #1cc3b2;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-16px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-16px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(16px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
