.date-range-container {
    position: relative;
    display: flex;
    flex-direction: column;

    .date-content {
        user-select: none;
        cursor: pointer;
        transition: filter 0.4s;

        &:hover {
            filter: brightness(0.9);
        }

        .calendar {
            position: relative;
            top: -1px;
            font-size: 18px;
            color: #9068ff;
            margin-right: 6px;
        }
    }
    .rdrDateRangeWrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        border: 1px solid #ccc;
    }
}
