.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 50px;
    padding: 0 40px;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    background-color: transparent;
    border-radius: 0;
    border: none;
}
