@import 'node_modules/bootstrap/scss/bootstrap';

// $font-primary: 'Poppins', Arial, sans-serif;
$primary: #2f89fc;

#sidebarCollapse {
    transition: 0.3s all ease;
    &:hover,
    &:focus {
        text-decoration: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
    line-height: 1.5;
    font-weight: 400;
    // font-family: $font-primary;
    color: $black;
}

//COVER BG
.img-sidebar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

//SIDEBAR
#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #856ec6;
    color: #fff;
    transition: all 0.3s;
    position: relative;
    .h6 {
        color: $white;
    }
    &.active {
        margin-left: -300px;
        .custom-menu {
            margin-right: -50px;
        }
        .btn {
            &.btn-primary {
                &:before {
                    font-family: 'Bootstrap-icons';
                    content: '\F234';
                    right: 2px !important;
                    @media only screen and (max-width: 768px) {
                        content: '\f230';
                    }
                }
                &:after {
                    display: none;
                }
            }
        }
    }
    h1 {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 20px;
        .logo {
            color: $white;
            display: block;
            padding: 10px 30px;
            background: $primary;
        }
    }
    ul.components {
        padding: 0;
    }
    ul {
        li {
            font-size: 16px;
            > ul {
                margin-left: 10px;
                li {
                    font-size: 14px;
                }
            }
            a {
                padding: 15px 30px;
                display: block;
                color: rgba(255, 255, 255, 0.6);
                border-bottom: 1px solid rgba(23, 22, 22, 0.05);
                span {
                    &.notif {
                        position: relative;
                        small {
                            position: absolute;
                            top: -3px;
                            bottom: 0;
                            right: -3px;
                            width: 12px;
                            height: 12px;
                            content: '';
                            background: red;
                            border-radius: 50%;
                            // font-family: $font-primary;
                            font-size: 8px;
                        }
                    }
                }
                &:hover {
                    color: black;
                    background: white;
                    border-bottom: 1px solid $primary;
                    cursor: pointer;
                }
            }
            &.active {
                > a {
                    background: #eee;
                    color: $black;
                    border-radius: 50px 0 0 50px;
                    &:hover {
                        color: orange;
                        background: white;
                        border-bottom: 1px solid $primary;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(md) {
        margin-left: -300px;
        &.active {
            margin-left: 0;
        }
        .custom-menu {
            margin-right: -60px !important;
            top: 10px !important;
        }
    }

    .custom-menu {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 0;
        margin-right: -35px;
        @include transition(0.3s);
        .btn {
            &.btn-primary {
                background: $primary;
                border-color: transparent;
                position: relative;
                color: $black;
                width: 30px;
                height: 30px;
                &:after,
                &:before {
                    position: absolute;
                    top: 2px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    font-family: 'Bootstrap-icons';
                    color: $white;
                }
                &:after {
                    content: '\f230';
                    left: 2px;
                    @media only screen and (max-width: 768px) {
                        content: '\f234';
                    }
                }
            }
        }
    }
}

.bg-wrap {
    width: 100%;
    position: relative;
    z-index: 0;
    &:after {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: '';
        background: $black;
        opacity: 0.3;
    }
    .user-logo {
        .img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            margin: 0 auto;
            margin-bottom: 10px;
            background-image: url('./images/avatar1.png');
        }
        h3 {
            color: $white;
            font-size: 18px;
        }
    }
}

#sidebarCollapse {
    span {
        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}

#content {
    width: 100%;
    padding: 0;
    transition: all 0.3s;
}

#avt {
    background-image: url(./images/bg_1.jpg);
}

#sidebar {
    .list {
        .active {
            background: #eee;
            color: black;
            border-radius: 50px 0 0 50px;
            &:hover {
                color: orange;
                background: white;
                border-bottom: 1px solid $primary;
                cursor: pointer;
            }
        }
    }
}
