.home-contact-container {
    .content {
        position: relative;
        height: 180px;
        padding: 0 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(14, 39, 55, 0.7);
            z-index: 0;
        }

        .info {
            position: relative;
            z-index: 1;
            h2 {
                color: #ffffff;
                font-size: 36px;
                margin-bottom: 10px;
                font-weight: 500;
            }

            h6 {
                margin-bottom: 0;
                color: #ffffff;
                font-weight: 500;
            }
        }

        .contact {
            position: relative;
            z-index: 1;
        }
    }
}
