.header-container {
    .top-header-area {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 50px;
        background-color: #0e2737;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .contact-list {
                .contact {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 50px;
                    text-decoration: none;
                    display: inline-block;

                    ~ .contact {
                        margin-left: 50px;
                    }

                    .icon {
                        position: relative;
                        top: -2px;
                        color: #1cc3b2;
                    }

                    span {
                        margin-left: 6px;
                    }

                    &:hover {
                        color: #afb4bf;
                    }
                }
            }

            .actions {
                .btn {
                    padding: 4px 20px;
                }

                .user {
                    color: #fff;
                    cursor: pointer;

                    .username {
                        font-size: 16px;
                        font-weight: 400;
                        margin-right: 8px;
                    }

                    .avatar {
                        width: 36px;
                        height: 36px;
                    }

                    .caret-down {
                        margin-left: 2px;
                        font-size: 14px;
                    }
                }

                .menu {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 140px;
                    min-height: 100px;
                    max-height: min(100vh - 96px - 60px, 734px);
                    padding-top: 8px;
                    border-radius: 8px;
                    background-color: #fff;
                    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -10px;
                        width: 100%;
                        height: 10px;
                        background-color: transparent;
                    }

                    .item {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 6px;
                        border-radius: 0;
                        font-size: 14px;
                        font-weight: 600;
                        padding: 10px 16px;
                        cursor: pointer;

                        .icon {
                            font-size: 18px;
                        }

                        &:hover {
                            background-color: rgba(22, 24, 35, 0.03);
                        }
                    }
                }
            }
        }
    }
}
