/* body {
    margin-top: 20px;
    background-color: #fff;
    color: #69707a;
} */
display-flex {
    display: flex;
    display: -webkit-flex;
}
@mixin border-radius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    -o-border-radius: $value;
    -ms-border-radius: $value;
}
@mixin hideInput {
    width: 0;
    height: 0;
    position: absolute;
    left: -9999px;
}
@mixin align-items($value) {
    align-items: $value;
    -moz-align-items: $value;
    -webkit-align-items: $value;
    -o-align-items: $value;
    -ms-align-items: $value;
}
.img-account-profile-handle {
    height: 10rem;
    border-radius: 50% !important;
}
.card-handle {
    box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
}
.card-handle .card-header {
    font-weight: 500;
}
.card-header:first-child {
    border-radius: 0.35rem 0.35rem 0 0;
}
.card-header {
    padding: 1rem 1.35rem;
    margin-bottom: 0;
    background-color: rgba(33, 40, 50, 0.03);
    border-bottom: 1px solid rgba(33, 40, 50, 0.125);
}
.form-contro-handle,
.dataTable-input {
    display: block;
    width: 100%;
    padding: 0.875rem 1.125rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    color: #69707a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #c5ccd6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.nav-borders-hanlde .nav-link.active {
    color: #0061f2;
    border-bottom-color: #0061f2;
}
.nav-borders-handle .nav-link {
    color: #69707a;
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 1rem;
    margin-right: 1rem;
}

.form-outline {
    position: relative;
}
.form-outline .form-helper {
    width: 100%;
    position: absolute;
    font-size: 0.875em;
    color: #757575;
}
.form-outline .form-helper .form-counter {
    text-align: right;
}
.form-outline .trailing {
    position: absolute;
    right: 10px;
    left: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}
.form-outline .form-icon-trailing {
    padding-right: 2rem !important;
}
.form-outline .form-control {
    min-height: auto;
    padding: 0.33em 0.75em;
    border: 0;
    background: transparent;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.form-outline .form-control ~ .form-label {
    position: absolute;
    top: 0;
    left: 0.75rem;
    padding-top: 0.37rem;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
}
.form-outline .form-control ~ .form-notch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: left;
    pointer-events: none;
}
.form-outline .form-control ~ .form-notch div {
    pointer-events: none;
    border: 1px solid #bdbdbd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
}
.form-outline .form-control ~ .form-notch .form-notch-leading {
    left: 0;
    top: 0;
    height: 100%;
    width: 0.5rem;
    border-right: none;
    border-radius: 0.25rem 0 0 0.25rem;
}
.form-outline .form-control ~ .form-notch .form-notch-middle {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: calc(100% - 1rem);
    height: 100%;
    border-right: none;
    border-left: none;
}
.form-outline .form-control ~ .form-notch .form-notch-trailing {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 100%;
    border-left: none;
    border-radius: 0 0.25rem 0.25rem 0;
}
.form-outline .form-control:not(.placeholder-active)::-webkit-input-placeholder {
    opacity: 0;
}
.form-outline .form-control:not(.placeholder-active)::-moz-placeholder {
    opacity: 0;
}
.form-outline .form-control:not(.placeholder-active):-ms-input-placeholder {
    opacity: 0;
}
.form-outline .form-control:not(.placeholder-active)::-ms-input-placeholder {
    opacity: 0;
}
.form-outline .form-control:not(.placeholder-active)::placeholder {
    opacity: 0;
}
.form-outline .form-control.active::-webkit-input-placeholder,
.form-outline .form-control:focus::-webkit-input-placeholder {
    opacity: 1;
}
.form-outline .form-control.active::-moz-placeholder,
.form-outline .form-control:focus::-moz-placeholder {
    opacity: 1;
}
.form-outline .form-control.active:-ms-input-placeholder,
.form-outline .form-control:focus:-ms-input-placeholder {
    opacity: 1;
}
.form-outline .form-control.active::-ms-input-placeholder,
.form-outline .form-control:focus::-ms-input-placeholder {
    opacity: 1;
}
.form-outline .form-control.active::placeholder,
.form-outline .form-control:focus::placeholder {
    opacity: 1;
}
.form-outline .form-control:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid black;
}

.form-outline .form-control.active ~ .form-label,
.form-outline .form-control:focus ~ .form-label {
    -webkit-transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
    transform: translateY(-1rem) translateY(0.1rem) scale(0.8);
}
.form-outline .form-control:focus ~ .form-label {
    color: #1266f1;
}
.form-outline .form-control.active ~ .form-notch .form-notch-middle,
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
    border-top: none;
    border-right: none;
    border-left: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
    border-bottom: 0.125rem solid;
    border-color: #1266f1;
}
.form-outline .form-control.active ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
    border-right: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
    border-top: 0.125rem solid #1266f1;
    border-bottom: 0.125rem solid #1266f1;
    border-left: 0.125rem solid #1266f1;
}
.form-outline .form-control.active ~ .form-notch .form-notch-trailing,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
    border-left: none;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
    border-top: 0.125rem solid #1266f1;
    border-bottom: 0.125rem solid #1266f1;
    border-right: 0.125rem solid #1266f1;
}
.form-outline .form-control.disabled,
.form-outline .form-control:disabled,
.form-outline .form-control[readonly] {
    background-color: #e9ecef;
}
.form-outline .form-control.form-control-lg {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.form-outline .form-control.form-control-lg ~ .form-label {
    padding-top: 0.7rem;
}
.form-outline .form-control.form-control-lg.active ~ .form-label,
.form-outline .form-control.form-control-lg:focus ~ .form-label {
    -webkit-transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8);
    transform: translateY(-1.25rem) translateY(0.1rem) scale(0.8);
}
.form-outline .form-control.form-control-sm {
    padding: 0.43em 0.99em 0.35em;
    font-size: 0.775rem;
    line-height: 1.6;
}
.form-outline .form-control.form-control-sm ~ .form-label {
    padding-top: 0.33rem;
    font-size: 0.775rem;
}
.form-outline .form-control.form-control-sm.active ~ .form-label,
.form-outline .form-control.form-control-sm:focus ~ .form-label {
    -webkit-transform: translateY(-0.85rem) translateY(0.1rem) scale(0.8);
    transform: translateY(-0.85rem) translateY(0.1rem) scale(0.8);
}
.form-outline.form-white .form-control {
    color: #fff;
}
.form-outline.form-white .form-control ~ .form-label {
    color: #fbfbfb;
}
.form-outline.form-white .form-control ~ .form-notch div {
    border-color: #fbfbfb;
}
.form-outline.form-white .form-control:focus ~ .form-label {
    color: #fff;
}
.form-outline.form-white .form-control:focus ~ .form-notch .form-notch-middle {
    border-color: #fff;
    border-color: black;
}
.form-outline.form-white .form-control:focus ~ .form-notch .form-notch-leading {
    border-top: 0.125rem solid #fff;
    border-bottom: 0.125rem solid #fff;
    border-left: 0.125rem solid #fff;
}
.form-outline.form-white .form-control:focus ~ .form-notch .form-notch-trailing {
    border-color: #fff;
}

.form-radio-changeInfor {
    @extend display-flex;
    @include align-items(center);
    position: relative;
    margin-bottom: 40px;
}

.form-radio-changeInfor-item {
    input {
        @include hideInput;
    }
    input + label {
        margin: 0px;
        padding: 12px 10px;
        width: auto;
        height: 40px;
        box-sizing: border-box;
        position: relative;
        display: inline-block;
        text-align: center;
        background-color: #f8f8f8;
        font-size: 14px;
        font-weight: 400;
        color: black;
        text-align: center;
        text-transform: none;
        transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out,
            box-shadow 0.15s ease-out;
        @include border-radius(5px);
    }
    input:checked + label {
        background-color: #1abc9c;
        color: #fff;
        z-index: 1;
    }
    input:focus + label {
        outline: none;
    }
    input:hover {
        background-color: #1abc9c;
        color: #fff;
    }
}

.form-radio-changeInfor-item {
    color: black;
    @extend display-flex;
    input + label {
        &:first-of-type {
            @include border-radius(5px 0 0 5px);
            border-right: none;
        }
        &:last-of-type {
            @include border-radius(0 5px 5px 0);
            border-left: none;
        }
    }
}
