.signin,
.image {
  min-height: 100vh;
}
.bg-image1 {
  background-image: url("https://hdwallsource.com/img/2015/3/luxury-wallpaper-47182-48698-hd-wallpapers.jpg");
  background-size: cover;
  background-position: center center;
}

.btn {
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.social-icon {
  height: 45px;
  width: 45px;
  align-items: center;
  display: flex;
  color: #444;
  border: 1px solid #444;
  border-radius: 50px;
  margin: 0 5px;
  text-decoration: none;
}
.social-icon i {
  margin-left: 14px;
}

.social-icon:hover {
  color: #ffd700;
  border-color: #ffd700;
}
