.header-container {
    .top-header-area {
        position: relative;
        z-index: 10;
        width: 100%;
        height: 50px;
        background-color: #0e2737;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .contact-list {
                .contact {
                    color: #ffffff;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 50px;
                    text-decoration: none;
                    display: inline-block;
                    cursor: pointer;

                    ~ .contact {
                        margin-left: 50px;
                    }

                    .icon {
                        position: relative;
                        top: -2px;
                        color: #1cc3b2;
                    }

                    span {
                        margin-left: 6px;
                    }

                    &:hover {
                        color: #afb4bf;
                    }
                }
            }

            .actions {
                .btn {
                    padding: 4px 20px;
                }
            }
        }
    }

    .main-header-area {
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #fff;

        .container {
            height: 100%;

            .main-navbar {
                height: 100%;
                display: flex;
                align-items: center;
                gap: 10px;

                .main-navbar-nav {
                    display: flex;
                    align-items: center;
                    gap: 16px;

                    .item {
                        font-size: 17px;
                        text-transform: capitalize;
                        color: #2a303b;
                        font-weight: 500;
                        padding: 0 20px;

                        &:hover {
                            color: #afb4bf;
                        }
                    }
                }

                .book-now {
                    margin-left: auto;
                    a {
                        display: block;
                        padding: 0 30px;
                        height: 80px;
                        line-height: 80px;
                        font-size: 16px;
                        font-weight: 600;
                        color: #ffffff;
                        text-align: center;
                        text-decoration: none;
                        outline: none;
                        background-color: #1cc3b2;
                        transition: background 0.5s;

                        &:hover {
                            background-color: #2a303b;
                        }
                    }
                }

                .sidebar-toggle {
                    display: none;
                    margin-left: auto;
                    font-size: 30px;
                    cursor: pointer;
                }
            }
        }
    }

    .nav-sidebar {
        .pro-sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 9;
            width: 320px;
            box-shadow: 0 5px 20px rgb(0 0 0 / 10%);

            &.collapsed {
                transform: translateX(-100%);
                width: 320px;
            }

            .pro-sidebar-inner {
                background-color: #fff;

                .pro-sidebar-header {
                    height: 80px;
                    padding: 16px;
                    text-align: right !important;

                    .close-btn {
                        font-size: 26px;
                        margin-left: auto;
                        cursor: pointer;
                    }
                }

                .pro-sidebar-content {
                    .pro-menu {
                        .pro-menu-item {
                            height: 45px;
                            background-color: #f2f4f8;
                            margin: 1px 0;
                            color: #2a303b;
                            font-weight: 500;

                            .pro-inner-item {
                                transition: color 0.5s;
                                &:hover {
                                    color: #afb4bf;
                                }
                            }
                        }
                    }

                    .book-now {
                        a {
                            display: inline-block;
                            height: 50px;
                            line-height: 50px;
                            margin-left: 16px;
                            margin-top: 12px;
                            padding: 0 30px;
                            background-color: #1cc3b2;
                            text-align: center;
                            color: #ffffff;
                            font-size: 16px;
                            font-weight: 500;
                            border-radius: 30px;
                            transition: background 0.5s;

                            &:hover {
                                background-color: #2a303b;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .header-container {
        .top-header-area {
            .content {
                .contact-list {
                    .contact {
                        span {
                            display: none;
                        }

                        &.contact {
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1023px) {
    .header-container {
        .main-header-area {
            height: 70px;
            .container {
                .main-navbar {
                    .main-navbar-nav {
                        display: none;
                    }

                    .book-now {
                        display: none;
                    }

                    .sidebar-toggle {
                        display: block;
                    }
                }
            }
        }
    }
}
